/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fcfff5;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

/*
a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }
*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.title {
  font-size: 3em;
  line-height: 90px;
  font-weight: bold;
  letter-spacing: -0.03em;
}

.title a {
  color: #fcfff5;
  text-decoration: none;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post p {
  font-size: 14px;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/***************************************************************************/
/*
/* mine
/*
/***************************************************************************/

.hl {
  position: relative;
}

.hl .overlay {
  position: absolute;
  top: 0px;
  background-color: #ad1000;
  width: 100%;
  height: 10px;
  opacity: 0;

  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.hl:hover .overlay {
  opacity: 1;
}

/* work around adblock plus */
.fa-tw:before {
  content: "\f099";
}

.links {
  list-style-type: none;
}

.links li {
  float: right;
}

.container-header {
  background-color: #193441;
  height: 90px;
}

.flex-header {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.flex-header * {
  margin-top: auto;
}

.flex-left {
  margin-right: auto;
}

.header {
  height: 90px;
  width: 95%;
  margin: 0em 2.5%;
  font-family: 'Lato', sans-serif;
}

.container-icon {
  margin-left: 20px;
}

.icon {
  line-height: 90px;
  color: #fcfff5;
  display: inline-block;
}

.site {
  width: 95%;
  text-align: justify;
  margin: 0em 2.5% 3em;
  font-family: 'Open Sans', sans-serif;
}

.heading {
  margin-top: 3em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 36px;
  text-decoration: none;
  color: #193441;
  margin-top: 4px;
}

.heading .headline {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 36px;
  text-decoration: none;
  color: #193441;
  margin-top: 4px;

  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.heading .headline:hover {
  opacity: 0.5;
}

.heading .date {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: #3e606f;
  float: left;

  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.heading .headline:hover+.date {
  opacity: 0.5;
}

@media (min-width: 900px) {
  .header {
    width: 860px;
    margin: 0em auto;
  }

  .site {
    width: 860px;
    margin: 0em auto;
  }
}
