@media print {
  @page {
    size: A4;
    margin: 16mm;
  }

  html {
    font-size: 10px;
  }

  header, footer {
    display: none;
  }

  .ptitle::before {
    content: "Jonathan Chow";
    display: block;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    text-decoration: underline;
  }

  h3 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
  }

  main {
    padding: 0;
    margin: 0;
  }

  hr {
    display: none;
  }

  .tech {
    width: 50%;
    & div {
      display: inline;
      &::after {
        content: " | ";
      }
      &:last-of-type::after {
        content: "";
      }
    }
  }

  ul {
    margin-top: 0.2rem;
  }

  li {
    margin: 0;
    padding-inline-start: 0;
    line-height: 1.3;
  }

  a {
    text-decoration: none;
  }
}
