/* Place custom css here. */
@reference './app.css';

html {
  font-size: 14.5px;
}

h2 {
  font-size: 2rem;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

.x-img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.x-img img {
  margin: 0;
}

.x-img small {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.job .tech {
  float: right;
  text-align: right;
  color: #666;
  font-size: 0.85em;
  line-height: 1.5;
}

.job .meta {
  font-size: 0.9em;
}

.job .details {
  font-size: 0.95em;
}

.job hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.job:last-of-type hr {
  display: none;
}

.callout {
  border: 1px solid var(--tw-prose-hr);
  border-radius: 0.375rem;
  padding: 1em;
  display: flex;
  gap: 1rem;
}

.callout-inner {
  font-size: 0.9em;
}

.ptitle {
  text-align: center;
}

header {
  background-color: #2c3e50;
  color: white;
}
