<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>jonathan chow // blog</title>
        <meta name="viewport" content="width=device-width">

        <!-- favicon -->
        <link rel="shortcut icon" href="/favicon.ico?v=20140921" />

        <!-- fonts -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="container-header">
            <div class="header flex-header">
                <div class="hl title flex-left">
                    <a href="/">jonathan chow</a>
                    <div class="overlay"></div>
                </div>
                <div class="hl container-icon">
                    <a href="https://github.com/echojc"><i class="icon fa fa-github-alt fa-3x"></i></a>
                    <div class="overlay"></div>
                </div>
                <div class="hl container-icon">
                    <a href="https://twitter.com/echojc"><i class="icon fa fa-tw fa-3x"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>

        <div class="site">
            <div class="content">
                {{ content }}
            </div>
        </div>

    </body>
</html>
